In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({'a':['x']*3 + ['y']*2,'b':[1,1,0,0,0]})

In [12]:
df

   a  b
0  x  1
1  x  1
2  x  0
3  y  0
4  y  0

In [15]:
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [16]:
dedup=df.drop_duplicates()

In [17]:
dedup

   a  b
0  x  1
2  x  0
3  y  0

In [18]:
dedup.reindex()

   a  b
0  x  1
2  x  0
3  y  0

In [19]:
dedup.drop_duplicates(['a'])

   a  b
0  x  1
3  y  0

In [20]:
s1 = pd.Series({'one':1,'two':2,'three':3})
s2 = pd.Series({1:'a',2:'b',3:'c'})
s1 , s2

(one      1
 three    3
 two      2
 dtype: int64, 1    a
 2    b
 3    c
 dtype: object)

In [21]:
s1.map(s2)

one      a
three    c
two      b
dtype: object

In [22]:
s2.map(s1)

1   NaN
2   NaN
3   NaN
dtype: float64

In [23]:
df

   a  b
0  x  1
1  x  1
2  x  0
3  y  0
4  y  0

In [24]:
df.replace({'a':'x'},'zzz')

     a  b
0  zzz  1
1  zzz  1
2  zzz  0
3    y  0
4    y  0

In [25]:
df

   a  b
0  x  1
1  x  1
2  x  0
3  y  0
4  y  0

In [26]:
df.replace({'a':2},'s')

   a  b
0  x  1
1  x  1
2  x  0
3  y  0
4  y  0

In [27]:
df.replace([0,'a'],'s')

   a  b
0  x  1
1  x  1
2  x  s
3  y  s
4  y  s

In [28]:
df

   a  b
0  x  1
1  x  1
2  x  0
3  y  0
4  y  0

In [29]:
df.replace([0,1],[9,10])

   a   b
0  x  10
1  x  10
2  x   9
3  y   9
4  y   9

In [31]:
newdf = pd.DataFrame(np.arange(15).reshape(5,3),
                    columns=['a','b','c'])

In [34]:
newdf

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [36]:
newdf['abc'] = newdf.apply(lambda row: row.a * row.b * row.c,axis=1)

In [37]:
newdf

    a   b   c   abc
0   0   1   2     0
1   3   4   5    60
2   6   7   8   336
3   9  10  11   990
4  12  13  14  2184

In [44]:
s=pd.DataFrame({'a':[1,2],'b':[3,4]},index=['one','two'])

In [45]:
s

     a  b
one  1  3
two  2  4

In [46]:
st=s.stack()

In [47]:
st

one  a    1
     b    3
two  a    2
     b    4
dtype: int64

In [49]:
st['two','b']

4