In [7]:
import pandas as pd
df = pd.DataFrame.from_items([('column1',[1,2,3])])
dfd = pd.DataFrame.from_dict({'a':100, 'b':200},orient='index')
print (df)
print (dfd)

   column1
0        1
1        2
2        3
     0
a  100
b  200

In [1]:
pwd

'/Users/prash/Google Drive/iMac/Python/Pandas - '

In [2]:
cd ..
ls

SyntaxError: invalid syntax (<ipython-input-2-b5a48510087e>, line 1)

In [3]:
cd ..

/Users/prash/Google Drive/iMac/Python

In [4]:
ls

Addition.py       Pandas - /        callback.py       inherit.py
BoundUnbound.py   Second Iteration/ className.py
Iterations.py     Third Iteration/  firstclass.py

In [5]:
cd ..

/Users/prash/Google Drive/iMac

In [6]:
ls

12 Hillview Drive - mortgage calculator.xlsx
Amendment No 6 CPSA TR Draft 2-12-15 - Maria.docx
Backup of Nasdaq Market Intelligence Desk - News Letters.docx
Defensive Driving/
Home Language Questionaire.pdf
Hunt/
India Travel 2017/
India ticket booking.xlsx
Lill Driving record.pdf
Machine Learning/
NY-Defensive Driving.pdf
Nasdaq Market Intelligence Desk - News Letters.docx
New York Accident Prevention Course - GEICO.pdf
Non Availability of Birth Certificate.docx
NriApplyOnline.pdf
Python/
STAR Registration.pdf
The Home Depot - Order Confirmation.pdf
Vihan and Ishan/
Village of Pleasantville - Water Bill.pdf
xmls/

In [7]:
cd Machine\ Learning/

/Users/prash/Google Drive/iMac/Machine Learning

In [8]:
ls

Books/
Coursera Certificate.pdf
Python/
Slides/
Videos/
machine-learning-ex1/
machine-learning-ex1.zip
machine-learning-ex2 2/
machine-learning-ex2.zip
machine-learning-ex3/
machine-learning-ex3 2/
machine-learning-ex3.zip
machine-learning-ex4/
machine-learning-ex4.zip
machine-learning-ex5/
machine-learning-ex5.zip
machine-learning-ex6/
machine-learning-ex6.zip
machine-learning-ex7/
machine-learning-ex7.zip
machine-learning-ex8/
machine-learning-ex8.zip
understanding-machine-learning-theory-algorithms.pdf*

In [9]:
cd Python

/Users/prash/Google Drive/iMac/Machine Learning/Python

In [10]:
ls

linear_reg.py  load_iris.py

In [11]:
cd ../..

/Users/prash/Google Drive/iMac

In [12]:
ls

12 Hillview Drive - mortgage calculator.xlsx
Amendment No 6 CPSA TR Draft 2-12-15 - Maria.docx
Backup of Nasdaq Market Intelligence Desk - News Letters.docx
Defensive Driving/
Home Language Questionaire.pdf
Hunt/
India Travel 2017/
India ticket booking.xlsx
Lill Driving record.pdf
Machine Learning/
NY-Defensive Driving.pdf
Nasdaq Market Intelligence Desk - News Letters.docx
New York Accident Prevention Course - GEICO.pdf
Non Availability of Birth Certificate.docx
NriApplyOnline.pdf
Python/
STAR Registration.pdf
The Home Depot - Order Confirmation.pdf
Vihan and Ishan/
Village of Pleasantville - Water Bill.pdf
xmls/

In [13]:
ls

12 Hillview Drive - mortgage calculator.xlsx
Amendment No 6 CPSA TR Draft 2-12-15 - Maria.docx
Backup of Nasdaq Market Intelligence Desk - News Letters.docx
Defensive Driving/
Home Language Questionaire.pdf
Hunt/
India Travel 2017/
India ticket booking.xlsx
Lill Driving record.pdf
Machine Learning/
NY-Defensive Driving.pdf
Nasdaq Market Intelligence Desk - News Letters.docx
New York Accident Prevention Course - GEICO.pdf
Non Availability of Birth Certificate.docx
NriApplyOnline.pdf
Python/
STAR Registration.pdf
The Home Depot - Order Confirmation.pdf
Vihan and Ishan/
Village of Pleasantville - Water Bill.pdf
xmls/

In [1]:
pwd

'/Users/prash/Google Drive/iMac/Machine Learning/Python/Pandas'

In [12]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [102]:
df = pd.read_csv("dailypricehistory.csv",index_col='dated',usecols=['dated','a','c','h'])
df

                 a        c      h
dated
19-Sep-86    87.04   232.21  23.65
22-Sep-86    87.55   234.93  22.63
23-Sep-86    87.49   235.67  22.95
24-Sep-86    87.68   236.28  23.11
25-Sep-86    86.86   231.83  24.54
26-Sep-86    86.99   232.23  24.62
29-Sep-86    86.47   229.91  24.62
30-Sep-86    86.94   231.32  24.76
1-Oct-86     87.51   233.60  24.88
2-Oct-86     87.62   233.92  24.87
3-Oct-86     87.72   233.71  25.92
6-Oct-86     88.01   234.78  25.11
7-Oct-86     87.96   234.41  25.65
8-Oct-86     88.55   236.68  24.99
9-Oct-86     88.59   235.85  25.46
10-Oct-86    88.52   235.48   24.3
13-Oct-86    88.62   235.91  24.79
14-Oct-86    88.89   235.37  24.04
15-Oct-86    89.26   238.80  22.06
16-Oct-86    89.57   239.53  22.09
17-Oct-86    89.38   238.84  21.16
20-Oct-86    88.63   235.97  21.21
21-Oct-86    88.65   235.88  20.81
22-Oct-86    88.80   236.26  20.64
23-Oct-86    89.41   239.28  20.54
24-Oct-86    89.44   238.26  20.34
27-Oct-86    89.50   238.77  19.85
28-Oct-86    89.71   239.26   19.9
29-Oct-86    89.98   240.94   20.2
30-Oct-86    90.52   243.71  20.01
...            ...      ...    ...
19-May-16  1128.57  2040.04  16.35
20-May-16  1136.98  2052.32  15.26
23-May-16  1136.38  2048.04  15.02
24-May-16  1144.50  2076.06  13.69
25-May-16  1147.70  2090.54  12.77
26-May-16  1148.07  2090.10   12.7
27-May-16  1150.11  2099.06   12.2
31-May-16  1150.23  2096.96  13.28
1-Jun-16   1150.65  2099.33  13.38
2-Jun-16   1151.95  2105.26  12.72
3-Jun-16   1152.15  2099.13  12.59
6-Jun-16   1153.04  2109.41  12.64
7-Jun-16   1153.19  2112.13  13.04
8-Jun-16   1154.13  2119.12  12.91
9-Jun-16   1153.93  2115.48  13.68
10-Jun-16  1152.59  2096.07  15.54
13-Jun-16  1151.08  2079.06  18.84
14-Jun-16  1152.12  2075.32  18.38
15-Jun-16  1152.90  2071.50  18.87
16-Jun-16  1154.32  2077.99   20.3
17-Jun-16  1149.43  2071.22  18.63
20-Jun-16  1153.78  2083.25  17.09
21-Jun-16  1154.99  2088.90  17.41
22-Jun-16  1151.89  2085.45  20.12
23-Jun-16  1160.90  2113.32  15.92
24-Jun-16  1139.51  2037.41  23.27
27-Jun-16  1126.91  2000.54  22.01
28-Jun-16  1144.47  2036.09  17.91
29-Jun-16  1157.01  2070.77  15.95
30-Jun-16  1163.51  2098.86  14.77

[7508 rows x 3 columns]

In [28]:
df.iloc[1]

a     87.55
c    234.93
h     22.63
Name: 22-Sep-86, dtype: object

In [29]:
df

                 a        c      h
dated
19-Sep-86    87.04   232.21  23.65
22-Sep-86    87.55   234.93  22.63
23-Sep-86    87.49   235.67  22.95
24-Sep-86    87.68   236.28  23.11
25-Sep-86    86.86   231.83  24.54
26-Sep-86    86.99   232.23  24.62
29-Sep-86    86.47   229.91  24.62
30-Sep-86    86.94   231.32  24.76
1-Oct-86     87.51   233.60  24.88
2-Oct-86     87.62   233.92  24.87
3-Oct-86     87.72   233.71  25.92
6-Oct-86     88.01   234.78  25.11
7-Oct-86     87.96   234.41  25.65
8-Oct-86     88.55   236.68  24.99
9-Oct-86     88.59   235.85  25.46
10-Oct-86    88.52   235.48   24.3
13-Oct-86    88.62   235.91  24.79
14-Oct-86    88.89   235.37  24.04
15-Oct-86    89.26   238.80  22.06
16-Oct-86    89.57   239.53  22.09
17-Oct-86    89.38   238.84  21.16
20-Oct-86    88.63   235.97  21.21
21-Oct-86    88.65   235.88  20.81
22-Oct-86    88.80   236.26  20.64
23-Oct-86    89.41   239.28  20.54
24-Oct-86    89.44   238.26  20.34
27-Oct-86    89.50   238.77  19.85
28-Oct-86    89.71   239.26   19.9
29-Oct-86    89.98   240.94   20.2
30-Oct-86    90.52   243.71  20.01
...            ...      ...    ...
19-May-16  1128.57  2040.04  16.35
20-May-16  1136.98  2052.32  15.26
23-May-16  1136.38  2048.04  15.02
24-May-16  1144.50  2076.06  13.69
25-May-16  1147.70  2090.54  12.77
26-May-16  1148.07  2090.10   12.7
27-May-16  1150.11  2099.06   12.2
31-May-16  1150.23  2096.96  13.28
1-Jun-16   1150.65  2099.33  13.38
2-Jun-16   1151.95  2105.26  12.72
3-Jun-16   1152.15  2099.13  12.59
6-Jun-16   1153.04  2109.41  12.64
7-Jun-16   1153.19  2112.13  13.04
8-Jun-16   1154.13  2119.12  12.91
9-Jun-16   1153.93  2115.48  13.68
10-Jun-16  1152.59  2096.07  15.54
13-Jun-16  1151.08  2079.06  18.84
14-Jun-16  1152.12  2075.32  18.38
15-Jun-16  1152.90  2071.50  18.87
16-Jun-16  1154.32  2077.99   20.3
17-Jun-16  1149.43  2071.22  18.63
20-Jun-16  1153.78  2083.25  17.09
21-Jun-16  1154.99  2088.90  17.41
22-Jun-16  1151.89  2085.45  20.12
23-Jun-16  1160.90  2113.32  15.92
24-Jun-16  1139.51  2037.41  23.27
27-Jun-16  1126.91  2000.54  22.01
28-Jun-16  1144.47  2036.09  17.91
29-Jun-16  1157.01  2070.77  15.95
30-Jun-16  1163.51  2098.86  14.77

[7508 rows x 3 columns]

In [73]:
copy=df.iloc[[0,1,2]].copy()
copy

               a       c      h
dated
19-Sep-86  87.04  232.21  23.65
22-Sep-86  87.55  234.93  22.63
23-Sep-86  87.49  235.67  22.95

In [31]:
copy = copy['c']*2
copy

dated
19-Sep-86    464.42
22-Sep-86    469.86
23-Sep-86    471.34
Name: c, dtype: float64

In [63]:
copy

               a       c      h
dated
19-Sep-86  87.04  928.84  23.65
22-Sep-86  87.55  939.72  22.63
23-Sep-86  87.49  942.68  22.95

In [62]:
copy.c=copy.c*2

In [38]:
df[:10]

               a       c      h
dated
19-Sep-86  87.04  232.21  23.65
22-Sep-86  87.55  234.93  22.63
23-Sep-86  87.49  235.67  22.95
24-Sep-86  87.68  236.28  23.11
25-Sep-86  86.86  231.83  24.54
26-Sep-86  86.99  232.23  24.62
29-Sep-86  86.47  229.91  24.62
30-Sep-86  86.94  231.32  24.76
1-Oct-86   87.51  233.60  24.88
2-Oct-86   87.62  233.92  24.87

In [76]:
copy

               a       c      h
dated
19-Sep-86  87.04  232.21  23.65
22-Sep-86  87.55  234.93  22.63
23-Sep-86  87.49  235.67  22.95

In [53]:
df[:10].c = copy.c*2

/Users/prash/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [54]:
df[:10]

               a       c      h
dated
19-Sep-86  87.04  928.84  23.65
22-Sep-86  87.55  939.72  22.63
23-Sep-86  87.49  942.68  22.95
24-Sep-86  87.68     NaN  23.11
25-Sep-86  86.86     NaN  24.54
26-Sep-86  86.99     NaN  24.62
29-Sep-86  86.47     NaN  24.62
30-Sep-86  86.94     NaN  24.76
1-Oct-86   87.51     NaN  24.88
2-Oct-86   87.62     NaN  24.87

In [44]:
copy.index

Index(['19-Sep-86', '22-Sep-86', '23-Sep-86'], dtype='object', name='dated')

In [59]:
df.loc[copy.index]

               a       c      h
dated
19-Sep-86  87.04  232.21  23.65
22-Sep-86  87.55  234.93  22.63
23-Sep-86  87.49  235.67  22.95

In [97]:
copy.index
copy.loc[copy.index];
copy.loc[copy.index][['c']];

                c
dated
19-Sep-86  232.21
22-Sep-86  234.93
23-Sep-86  235.67

In [105]:
df[:3].c *= 2

/Users/prash/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [98]:
df.loc[copy.index][['c']]

                c
dated
19-Sep-86  232.21
22-Sep-86  234.93
23-Sep-86  235.67

In [101]:
df.loc[copy.index] = copy.loc[copy.index][['c']] * 2
df[:10]

               a       c      h
dated
19-Sep-86    NaN  464.42    NaN
22-Sep-86    NaN  469.86    NaN
23-Sep-86    NaN  471.34    NaN
24-Sep-86  87.68  236.28  23.11
25-Sep-86  86.86  231.83  24.54
26-Sep-86  86.99  232.23  24.62
29-Sep-86  86.47  229.91  24.62
30-Sep-86  86.94  231.32  24.76
1-Oct-86   87.51  233.60  24.88
2-Oct-86   87.62  233.92  24.87

In [106]:
df[:10]

               a       c      h
dated
19-Sep-86  87.04  464.42  23.65
22-Sep-86  87.55  469.86  22.63
23-Sep-86  87.49  471.34  22.95
24-Sep-86  87.68  236.28  23.11
25-Sep-86  86.86  231.83  24.54
26-Sep-86  86.99  232.23  24.62
29-Sep-86  86.47  229.91  24.62
30-Sep-86  86.94  231.32  24.76
1-Oct-86   87.51  233.60  24.88
2-Oct-86   87.62  233.92  24.87

In [70]:
copy
copy.c

dated
19-Sep-86    928.84
22-Sep-86    939.72
23-Sep-86    942.68
Name: c, dtype: float64

In [66]:
df[:10]

               a       c      h
dated
19-Sep-86  87.04  232.21  23.65
22-Sep-86  87.55  234.93  22.63
23-Sep-86  87.49  235.67  22.95
24-Sep-86  87.68  236.28  23.11
25-Sep-86  86.86  231.83  24.54
26-Sep-86  86.99  232.23  24.62
29-Sep-86  86.47  229.91  24.62
30-Sep-86  86.94  231.32  24.76
1-Oct-86   87.51  233.60  24.88
2-Oct-86   87.62  233.92  24.87