In [1]:
import pandas as pd
import numpy as np

In [32]:
snsr = pd.DataFrame({'axis':['x']*10 + ['y']*10,'readings':np.arange(20)})

In [36]:
snsr1 = snsr.iloc[:10,:]
snsr1

  axis  readings
0    x         0
1    x         1
2    x         2
3    x         3
4    x         4
5    x         5
6    x         6
7    x         7
8    x         8
9    x         9

In [34]:
snsr2 = snsr.iloc[10:,:]
snsr2

   axis  readings
10    y        10
11    y        11
12    y        12
13    y        13
14    y        14
15    y        15
16    y        16
17    y        17
18    y        18
19    y        19

In [6]:
snsr['readings'] = snsr['readings'] % 10

In [30]:
snsr12 = pd.concat([snsr1,snsr2],keys=[1,2],ignore_index=False)

In [39]:
snsr12.ix[1].loc[3]

axis        x
readings    3
Name: 3, dtype: object

In [54]:
snsr12.loc[1,7].axis

'x'

In [57]:
snsr12

     axis  readings
1 0     x         0
  1     x         1
  2     x         2
  3     x         3
  4     x         4
  5     x         5
  6     x         6
  7     x         7
  8     x         8
  9     x         9
2 10    y         0
  11    y         1
  12    y         2
  13    y         3
  14    y         4
  15    y         5
  16    y         6
  17    y         7
  18    y         8
  19    y         9

In [55]:
snsr12.unstack()

   axis                                                       ...  readings  \
     0     1     2     3     4     5     6     7     8     9  ...        10
1     x     x     x     x     x     x     x     x     x     x ...       NaN
2  None  None  None  None  None  None  None  None  None  None ...       0.0


    11   12   13   14   15   16   17   18   19
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0

[2 rows x 40 columns]

In [56]:
snsr12.unstack(level=0)

    axis       readings
       1     2        1    2
0      x  None      0.0  NaN
1      x  None      1.0  NaN
2      x  None      2.0  NaN
3      x  None      3.0  NaN
4      x  None      4.0  NaN
5      x  None      5.0  NaN
6      x  None      6.0  NaN
7      x  None      7.0  NaN
8      x  None      8.0  NaN
9      x  None      9.0  NaN
10  None     y      NaN  0.0
11  None     y      NaN  1.0
12  None     y      NaN  2.0
13  None     y      NaN  3.0
14  None     y      NaN  4.0
15  None     y      NaN  5.0
16  None     y      NaN  6.0
17  None     y      NaN  7.0
18  None     y      NaN  8.0
19  None     y      NaN  9.0

In [58]:
data = pd.DataFrame({'name':['prash','sari','aryan','vi','ishi'],
                    'height':[6,5,4,2,2],
                    'weight':[75,55,25,12,13]})

In [64]:
data

   height   name  weight
0       6  prash      75
1       5   sari      55
2       4  aryan      25
3       2     vi      12
4       2   ishi      13

In [105]:
fam= pd.melt(data,
       id_vars='name',
       value_vars=['height','weight'],
        value_name=0)

In [71]:
fam

    name variable  value
0  prash   height      6
1   sari   height      5
2  aryan   height      4
3     vi   height      2
4   ishi   height      2
5  prash   weight     75
6   sari   weight     55
7  aryan   weight     25
8     vi   weight     12
9   ishi   weight     13

In [94]:
fampivoted = fam.pivot(index='name',columns='variable',values='value')
fampivoted

variable  height  weight
name
aryan          4      25
ishi           2      13
prash          6      75
sari           5      55
vi             2      12

In [82]:
fampivoted.unstack()

variable  name
height    aryan     4
          ishi      2
          prash     6
          sari      5
          vi        2
weight    aryan    25
          ishi     13
          prash    75
          sari     55
          vi       12
dtype: int64

In [92]:
fampivoted.unstack(level='variable')

variable  name
height    aryan     4
          ishi      2
          prash     6
          sari      5
          vi        2
weight    aryan    25
          ishi     13
          prash    75
          sari     55
          vi       12
dtype: int64

In [98]:
 pd.melt(fampivoted,id_vars=['name'])

KeyError: 'name'