In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/prash/Google Drive/iMac/Machine Learning/Python/Pandas'

In [6]:
sensors = pd.read_csv('../../Data/sensors.csv')

In [7]:
sensors

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
3          1        accel    Z      0.1
4          1        accel    Y      0.4
5          1        accel    X      0.9
6          2        accel    Z      0.2
7          2        accel    Y      0.3
8          2        accel    X      0.8
9          3        accel    Z      0.3
10         3        accel    Y      0.2
11         3        accel    X      0.7
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [9]:
grp = sensors.groupby('sensor')

grp.ngroups

In [10]:
grp.ngroups

2

In [11]:
grp.groups

{'accel': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 'orientation': [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]}

In [12]:
def print_groups(grpobj):
    for name,group in grpobj:
        print(name)
        print(group)

In [13]:
print_groups(grp)

accel
    interval sensor axis  reading
0          0  accel    Z      0.0
1          0  accel    Y      0.5
2          0  accel    X      1.0
3          1  accel    Z      0.1
4          1  accel    Y      0.4
5          1  accel    X      0.9
6          2  accel    Z      0.2
7          2  accel    Y      0.3
8          2  accel    X      0.8
9          3  accel    Z      0.3
10         3  accel    Y      0.2
11         3  accel    X      0.7
orientation
    interval       sensor axis  reading
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [15]:
grp.size()

sensor
accel          12
orientation    12
dtype: int64

In [16]:
grp.head()

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
3          1        accel    Z      0.1
4          1        accel    Y      0.4
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2

In [22]:
p = pd.period_range('2014','2015',freq='M')
p

PeriodIndex(['2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
             '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
             '2015-01'],
            dtype='int64', freq='M')

In [11]:
import pandas as pd; import numpy as np
dfp = pd.DataFrame([np.arange(10),np.arange(10,20)]);dfp
dfc = pd.DataFrame({'a':np.arange(10),'b':np.arange(10,20)});dfc

   a   b
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [7]:
dfp.cumprod()

   0   1   2   3   4   5   6    7    8    9
0  0   1   2   3   4   5   6    7    8    9
1  0  11  24  39  56  75  96  119  144  171