In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [13]:
df = DataFrame({'a':['x']*3 + ['y']*4, 
                'b':np.concatenate((np.arange(4),np.arange(3)))
                })
df

   a  b
0  x  0
1  x  1
2  x  2
3  y  3
4  y  0
5  y  1
6  y  2

In [14]:
df['c']='a'

In [15]:
df

   a  b  c
0  x  0  a
1  x  1  a
2  x  2  a
3  y  3  a
4  y  0  a
5  y  1  a
6  y  2  a

In [16]:
df['a',4]='x'

In [20]:
df

   a  b  c (a, 4)
0  x  0  a      x
1  x  1  a      x
2  x  2  a      x
3  y  3  a      x
4  y  0  a      x
5  y  1  a      x
6  y  2  a      x

In [24]:
df.drop(('a',4),axis=1,inplace=True)

In [22]:
df.loc[4,'a']='x'

In [25]:
df

   a  b  c
0  x  0  a
1  x  1  a
2  x  2  a
3  y  3  a
4  x  0  a
5  y  1  a
6  y  2  a

In [27]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [29]:
df.drop_duplicates()

   a  b  c
0  x  0  a
1  x  1  a
2  x  2  a
3  y  3  a
5  y  1  a
6  y  2  a

In [30]:
df.fillna('c')

   a  b  c
0  x  0  a
1  x  1  a
2  x  2  a
3  y  3  a
4  x  0  a
5  y  1  a
6  y  2  a

In [31]:
df['c']=np.nan
df

   a  b   c
0  x  0 NaN
1  x  1 NaN
2  x  2 NaN
3  y  3 NaN
4  x  0 NaN
5  y  1 NaN
6  y  2 NaN

In [32]:
df.loc[6]=np.nan
df

     a    b   c
0    x  0.0 NaN
1    x  1.0 NaN
2    x  2.0 NaN
3    y  3.0 NaN
4    x  0.0 NaN
5    y  1.0 NaN
6  NaN  NaN NaN

In [33]:
df.loc[6,'a']='y'

In [34]:
df

   a    b   c
0  x  0.0 NaN
1  x  1.0 NaN
2  x  2.0 NaN
3  y  3.0 NaN
4  x  0.0 NaN
5  y  1.0 NaN
6  y  NaN NaN

In [39]:
df.dropna(how='any',axis=1) #inplace=True

   a
0  x
1  x
2  x
3  y
4  x
5  y
6  y

In [40]:
df

   a    b   c
0  x  0.0 NaN
1  x  1.0 NaN
2  x  2.0 NaN
3  y  3.0 NaN
4  x  0.0 NaN
5  y  1.0 NaN
6  y  NaN NaN

In [41]:
df.isnull()

       a      b     c
0  False  False  True
1  False  False  True
2  False  False  True
3  False  False  True
4  False  False  True
5  False  False  True
6  False   True  True